/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/dashboard/styles/style.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.custom-button {
    background-color: rgba(180, 175, 175, 0.952);
    border: 2px solid darkgray;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 500px;
  }
  
  .custom-button:hover {
    background-color: gray;
  }
  
  .custom-button:active {
    background-color: darkgray;
    transform: scale(0.98);
  }
  
